{% from 'bootstrap5/form.html' import render_form %}
{% extends 'base.html' %}

{% block content %}
<main class="mb-4">
  <div class="container">
    <div class="row my-3">
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          <ul>
             {% for category, message in messages %}
               <li class="flash {{ category }}">{{ message }}</li>
             {% endfor %}
          </ul>
        {% endif %}
    {% endwith %}
      <div class="col-lg-8 col-md-10 mx-auto">
          {% if edit %}
          <form action="{{ url_for('products.edit_product', product_id=product.id) }}" method="POST">
          <input type="hidden" name="_method" value="PATCH">
          {% else %}
          <form action="{{ url_for('products.add_product') }}" method="POST">
          {% endif %}
              {{ form.hidden_tag() }}
<!--              {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}-->
            <div class="form-group">
            {{ form.name.label }}
            {{ form.name(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.customs_code.label }}
            {{ form.customs_code(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.img_url.label }}
            {{ form.img_url(class="form-control") }}
          </div>
          <div class="form-group">
          {% if edit %}
            {{ form.submit(class="btn btn-primary", value="Submit changes") }}
          {% else %}
            {{ form.submit(class="btn btn-primary") }}
          {% endif %}
          </div>
          </form>
          </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}

