{% from 'bootstrap5/form.html' import render_form %}
{% extends 'base.html' %}

{% block content %}
<main class="mb-4">
  <div class="container">
    <div class="row my-3">
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          <ul>
             {% for category, message in messages %}
               <li class="flash {{ category }}">{{ message }}</li>
             {% endfor %}
          </ul>
        {% endif %}
    {% endwith %}
      <div class="col-lg-8 col-md-10 mx-auto">
            <form action="{{ url_for('login', next=request.args.get('next')) }}" method="POST">
              {{ form.hidden_tag() }}

          <!-- Manual Render of the Form because of the specific placement of the New Product and New Company annchor tags -->
          <div class="form-group">
            {{ form.document_nr.label }}
            {{ form.document_nr(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.transaction_type.label }}
            {{ form.transaction_type(class="form-control") }}
          </div>

          <!-- Product Selection with Button to Add New Product -->
          <div class="form-group">
            {{ form.product_name.label }}
            {{ form.product_name(class="form-control") }}
            <small>
              <a href="{{ url_for('add_product', next=request.url) }}" class="btn btn-sm btn-link">
                + Add New Product
              </a>
            </small>
          </div>

          <!-- Company Selection with Button to Add New Company -->
          <div class="form-group">
            {{ form.company_name.label }}
            {{ form.company_name(class="form-control") }}
            <small>
              <a href="{{ url_for('add_company', next=request.url) }}" class="btn btn-sm btn-link">
                + Add New Company
              </a>
            </small>
          </div>

          <div class="form-group">
            {{ form.quantity.label }}
            {{ form.quantity(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.price.label }}
            {{ form.price(class="form-control") }}
          </div>

          <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
          </div>
            </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}