{% extends 'base.html' %}
{% block title %}Chemical Database{% endblock %}

{% block content %}
    <main class="container mt-4">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <ul>
                    {% for category, message in messages %}
                        <li class="flash {{ category }}">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        {% if not current_user.is_authenticated %}
        <h2>Welcome to the Chemical Database!</h2>
        <p>This is a web application where you can log chemical entries, track their properties, and visualize trends.</p>
        {% else %}
        <h2>Welcome back {{ current_user.name }}!</h2>
        <p>What are we working on today?</p>
        {% endif %}
    </main>
    <div class="container my-5">
  {% if current_user.is_authenticated %}
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <img src="{{ url_for('static', filename='assets/img/entry_logo.jpg') }}" alt="Picture of a book with chemcal elements" width="100" height="100" class="logo" >
    <h1 class="text-body-emphasis">Add an entry to the product registry</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      Enter the inventory receipt or issue.
    </p>
    <div class="d-inline-flex gap-2 mb-2">
      <a class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" role="button" href=" {{ url_for('add_entry') }}">
        Open the Income and Expenditure Book
        <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"></use></svg>
      </a>
      <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
        Modify a particular record in the Book
      </button>
    </div>
  </div>
  {% else %}
   <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{ url_for('static', filename='assets/img/db_user.jpg') }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Log in to start using our Database.</h1>
        <p class="lead">Start providing information about your clients, suppliers, products and track all of the company's transactions, getting the access to a truckload of essential statistics, visualized analytics and a personalized ledger. </p>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}